# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Database URL
# The database URL is used to connect to your database. It's used for commenting, and authentication.
DATABASE_URL="postgresql://postgres:<YOUR_PASSWORD>@localhost:5432/blog"

# Resend
# Used for the newsletter subscription and sending emails.
# @see https://resend.com
RESEND_API_KEY="" # Resend API key
RESEND_AUDIENCE_ID="" # Newsletter audience ID

# Authentication
# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://www.better-auth.com/docs/installation
BETTER_AUTH_URL=""
BETTER_AUTH_SECRET=""

# Preconfigured Google OAuth provider, works out-of-the-box
# @see https://www.better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Preconfigured Github OAuth provider, works out-of-the-box
# @see https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""