@import "tailwindcss";
@import "fumadocs-ui/css/vitepress.css";
@import "fumadocs-ui/css/preset.css";
@import "@fuma-comment/react/preset.css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@source '../../node_modules/fumadocs-ui/dist/**/*.js';
@source '../../node_modules/@fuma-comment/react/dist/**/*.js';

@theme {
  --color-background: var(--color-fd-background);
  --color-foreground: var(--color-fd-foreground);

  --color-card: var(--color-fd-card);
  --color-card-foreground: var(--color-fd-card-foreground);

  --color-popover: var(--color-fd-popover);
  --color-popover-foreground: var(--color-fd-popover-foreground);

  --color-primary: var(--color-fd-primary);
  --color-primary-foreground: var(--color-fd-primary-foreground);

  --color-secondary: var(--color-fd-secondary);
  --color-secondary-foreground: var(--color-fd-secondary-foreground);

  --color-muted: var(--color-fd-muted);
  --color-muted-foreground: var(--color-fd-muted-foreground);

  --color-accent: var(--color-fd-accent);
  --color-accent-foreground: var(--color-fd-accent-foreground);

  /* --color-destructive: var(--color-fd-destructive);
  --color-destructive-foreground: var(--color-fd-destructive-foreground); */
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);

  --color-border: var(--color-fd-border);
  --color-input: var(--color-fd-input);
  --color-ring: var(--color-fd-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  a {
    @apply [overflow-wrap:anywhere];
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 0rem;

  @apply 2xl:max-w-[1536px];
}

@layer utilities {
  .bg-dashed {
    background-image: linear-gradient(
      45deg,
      var(--color-border) 12.50%,
      transparent 12.50%,
      transparent 50%,
      var(--color-border) 50%,
      var(--color-border) 62.50%,
      transparent 62.50%,
      transparent 100%
    );
    background-size: 0.25rem 0.25rem;
  }
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-foreground);
}

.dark ::selection {
  background-color: var(--color-accent);
  color: var(--color-foreground);
}

.dark [data-hide-on-theme="dark"],
.light [data-hide-on-theme="light"] {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-new(theme-transition) {
    clip-path: inset(0 0 100% 0);
    animation: slide-in-from-top 0.65s forwards cubic-bezier(0.65, 0, 0.35, 1);
  }

  ::view-transition-old(theme-transition) {
    animation: none;
  }

  @keyframes slide-in-from-top {
    to {
      clip-path: inset(0 0 0 0);
    }
  }
}

/* todo: fix global view transistion trigger on load: NOT FIXED */
